### Hospital Patient Data Analysis

In [1]:
# load the pandas library
import pandas as pd

In [2]:
# load the dat set 
patient_data = pd.read_csv('/DataScienceNotes/Assignments/04-Basic Stats-2/Patient_Data.csv')

In [3]:
# check the loaded data
patient_data.head()

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45

In [4]:
# get information of data set find any null values in data set
patient_data.info()
# found 2 null values in the BillAmount column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [5]:
# fill the null values with mean of BillAmount column
BA_mean=patient_data['BillAmount'].mean()
patient_data['BillAmount']= patient_data['BillAmount'].fillna(BA_mean)
patient_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,5925.0,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,5925.0,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [6]:
# # Identifying the numerical column and,
# check the min, max, standerd diviation, mean and quaterly values 
patient_data.describe()

        PatientID   BillAmount  ReceptionistID
count    6.000000     6.000000        6.000000
mean   102.666667  5925.000000        1.666667
std      1.632993   923.850637        0.816497
min    101.000000  5000.000000        1.000000
25%    101.250000  5231.250000        1.000000
50%    102.500000  5925.000000        1.500000
75%    103.750000  6131.250000        2.000000
max    105.000000  7500.000000        3.000000

In [7]:
# Drop the columns not required for the analysis
pt_data= patient_data.drop(['ReceptionistID', 'CheckInTime'], axis=1)
pt_data
# axis=1 refers to column, 0 refers to row

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John      5925.0
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose      5925.0
5        101    Alice   Cardiology  Dr. Smith      5000.0

In [8]:
# remove duplicates from the PatienID column
pt_data.drop_duplicates(subset=['PatientID'], keep='first', inplace=True)
pt_data

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John      5925.0
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose      5925.0

In [9]:
# load the billing data set
billing_data = pd.read_csv('/DataScienceNotes/Assignments/04-Basic Stats-2/Billing_Data.csv')
billing_data.head()

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [10]:
# merge patient data and billing data using patient id
final_patient_biiling = pd.merge(pt_data, billing_data, on='PatientID', how = 'outer' )
final_patient_biiling
# this will also concat both patient data and billing data.
# merged both data set as outer to get all the data from both the data set.

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Bob,Neurology,Dr. John,5925.0,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Eva,Dermatology,Dr. Rose,5925.0,1000,4000

In [11]:
# create new patient data 
new_patient_data = [['114', 'Aix', 'cardiology', 'Dr.Lee', 3000, 1000, 2000],['115', 'bix', 'cardiology', 'Dr.Rose', 5000, 1000, 4000]]
# creating the data frame of the  new patient data
df_new_pt = pd.DataFrame(new_patient_data, columns = ['PatientID', 'Name', 'Department', 'Doctor', 'BillAmount', 'InsuranceCovered', 'FinalAmount'])
# add new patient data to the data set
final_billing=pd.concat([final_patient_biiling,df_new_pt], ignore_index=True)
final_billing

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Bob,Neurology,Dr. John,5925.0,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Eva,Dermatology,Dr. Rose,5925.0,1000,4000
5,114,Aix,cardiology,Dr.Lee,3000.0,1000,2000
6,115,bix,cardiology,Dr.Rose,5000.0,1000,4000